* { 
  margin: 0;
  padding: 0;
}

body { 
  background-color: black;
}

.page { 
  width: 1000px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

main { 
  display: flex;
}

header { 
  display: flex;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between; 
  width: 100%;
  margin-bottom: 50px
}

.menu { 
  margin-left: auto;
}

a { 
  text-decoration: none;
  color: rgb(182, 182, 182);
  margin-left: 45px;
}

.info { 
  width: 489px;
  margin-right: 120px;
  color: white;
}

.info h1 { 
  font-size: 49px;
}

.info p { 
  font-size: 14px;
  
  width: 438px;
  line-height: 28px;
  margin-top: 40px;
}

.info span { 
  font-weight: bold;
  color: #89C5CC;
}

.info p { 
  font-weight: bold;
}

button { 
  background-color: #69B99D;
  padding: 14px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button img { 
  margin-right: 5px;
}

.home { 
  color: rgb(255, 255, 255);
  font-weight: bold;
}

footer { 
  color: white;
}

footer span { 
  color: #89C5CC;
}

.bolinhas { 
  position: fixed;
  bottom: 0px;
  right: 0px
}