
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { 
  font-size: 62.5%;
}


.hide { 
  display: none;
}

body { 
  background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
  font-size: 1.6rem;

  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #4c4c9e;
  color: white;
}

/* Screen 1  */

main { 
  background: #FFF;
  box-shadow: 0 .2rem .4rem  rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  border-radius: .6rem;
  padding: 4.8rem 6.4rem 6.4rem;

  width: min(42.8rem, 90%);
  text-align: center;

}



h1 { 
  margin-bottom: 1.6rem;
}

form { 
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

input, button { 
  border: none;
  padding: 1.6rem;

}

input { 
  background-color: #dce2e9;
  border-radius: 4px 0px 0px 4px;
  width: 5rem;

}

input:focus {
  outline: none; /* Remova a borda de foco*/
}

button { 
  background-color: #7879F1;
  cursor: pointer;
  font-weight: bold;
  color: #dbdbdb;
  border-radius: 0px 4px 4px 0px;
  transition: background-color, 0.2s;

}

/* Screen 1 end */


/* Screen 2 */

h2  { 
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 3.3rem;
}

.screen2 button { 
  border-radius: .4rem;
}

