* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { 
  font-size: 62.5%;
}

body { 
  background-color: rgb(34, 34, 34);

}

body, input, button { 
  line-height: 2rem;
}


.container { 
  height: 100vh;
  display: grid;
  place-content: center;
}


.card { 
  background-color: white;
  padding: 4.8rem 8.4rem 6.0rem;
  max-width: 42.8rem;
  margin-inline: auto;

  box-shadow: 0.2rem .4rem rgba(0,0,0,0.1);
  border-radius: .6rem;
}


.title { 
  font-size: 3.2rem;
  line-height: 4rem;
}

form h1 { 
  margin-bottom: 3.2rem;
}

form label { 
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: .8rem;
  display: block;
  /* display-inline nao aceite margin */
}

form input { 
  width: 100%;
  border-radius: .4rem;
  padding: 1.6rem;
}


/* um elemento anterior ao outro */
.input-wrapper + .input-wrapper { 
  margin-top: 1.6rem;
}


main button { 
  cursor: pointer;

  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 100%;

  border-radius: .4rem;  
  border: none;

  background-color: black;
  color: white;
  align-items: center;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;

  font-weight: bold;
  font-size: 1.5rem;

  transition: opacity 0.1s;
}

main button:hover { 
  opacity: 0.8;
}

/* Modal */

.modal-wrapper.open { 
  visibility: visible;
  opacity: 1;
}

.modal-wrapper { 
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  place-content: center;

  visibility: hidden;
  opacity: 0;
}


.modal { 
  position: relative;
}

.modal button { 
  cursor: pointer;

  position: absolute;
  right: 15px;
  top: 15px;

  background: none;
  border: none;


  transition: transform 0.15s;
}

.modal button:hover { 
  transform: scale(1.1);
}


/* Error   */

.alert-error { 
  background-color: rgb(187, 29, 29);
  padding: 1.1rem;
  font-size: 2rem;
  text-align: center;
  color: rgb(218, 217, 217);
  font-weight: 700;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);
  transition: transform .5s;
}

.alert-error.open { 
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}