* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { 
  font-size: 62.5%;
}

body { 
  background-color: rgb(34, 34, 34);

}


.container { 
  height: 100vh;
  display: grid;
  place-content: center;
}


.card { 
  padding: 4.8rem 6.4rem 6.0rem;
  background-color: white;
  max-width: 42.8rem;
  margin-inline: auto;

  box-shadow: 0.2rem .4rem rgba(0,0,0,0.1);
  border-radius: .6rem;
}


.title { 
  font-size: 3.2rem;
  line-height: 4rem;
}

form h1 { 
  margin-bottom: 3.2rem;
}

form label { 
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: .8rem;
  display: block;
  /* display-inline nao aceite margin */
}

form input { 
  width: 100%;
  border-radius: .4rem;
  padding: 1.6rem;
}


/* um elemento anterior ao outro */
.input-wrapper + .input-wrapper { 
  margin-top: 1.6rem;
}


